<p>こんにちは <%= @resource.email %>!</p>

<p>パスワードを変更するためのリンクをリクエストされました。以下のリンクから変更することができます。</p>

<p><%= link_to 'パスワードをリセットする', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりのない方は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
